<footer id="footer" class="footer">
    <section class="main-menu">
        <div class="container">
            <div class="col intro">
                <h3><a href="{{ site.url }}" title="Go to Keptab Home">Keptab</a></h3>
                <p>Keptab now available for <a href="/chrome">Chrome</a>, <a href="/edge">Edge</a>, <a href="/firefox">Firefox</a>, <a href="/safari">Safari</a>, <a href="/opera">Opera</a>.</p>
            </div>
            <div class="col">
                <h3>About</h3>
                <ul>
                    <li><a href="/about" title="Go to Keptab About">About</a></li>
                    <li><a href="/faq" title="Go to Keptab FAQ">FAQ</a></li>
                    <li><a href="/feedback" title="Go to Keptab Feedback">Feedback</a></li>
                    <li><a href="/changelog" title="Go to Keptab Changelog">Changelog</a></li>
                    <li><a href="/press" title="Go to Keptab Press">Press</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Apps</h3>
                <ul>
                    <li><a href="/chrome" title="Add Keptab for Chrome">Chrome</a></li>
                    <li><a href="/edge" title="Add Keptab for Edge">Edge</a></li>
                    <li><a href="/firefox" title="Add Keptab for Firefox">Firefox</a></li>
                    <li><a href="/safari" title="Add Keptab for Safari">Safari</a></li>
                    <li><a href="/opera" title="Add Keptab for Opera">Opera</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Tools</h3>
                <ul>
                    <li><a href="/migrate" title="Migrate to Keptab">Migrate</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Network</h3>
                <ul>
                    <li><a href="https://blog.keptab.com" title="Go to Keptab Blog">Keptab Blog</a></li>
                    <li><a target="_blank" href="https://twitter.com/keptabapp" title="Go to Keptab Twitter">Keptab Twitter</a></li>
                    <li><a target="_blank" href="https://www.producthunt.com/posts/keptab" title="Go to Keptab ProductHunt. Posted at 2021/05/26">ProductHunt</a></li>
                    <!--
                    <li><a target="_blank" href="https://www.facebook.com/keptab" title="Go to Keptab Facebook">Facebook</a></li>
                    <li><a target="_blank" href="https://www.reddit.com/r/keptab" title="Go to Keptab Reddit">Reddit</a></li> 
                    -->
                </ul>
            </div>
        </div>
    </section>
    <section class="sub-menu bg-faded">
        <div class="container">
            <div class="menu">
                <span class="rights" title="&copy; 2020-2021 {{ site.name }}">&copy; 2020-2021 {{ site.name }}.</span>
                <span class="privacy"><a href="/privacy" title="Go to Keptab Privacy Policy">Privacy Policy</a></span>
                <span class="terms"><a href="/terms" title="Go to Keptab TOS">Terms of Use</a></span>
                <span class="cookie"><a href="/cookie-policy" title="Go to Keptab Cookie Policy">Cookie Policy</a></span>
            </div>
        </div>
    </section>
</footer>