<footer id="footer" class="footer">
    <section class="main-menu">
        <div class="container">
            <div class="col intro">
                <h3>Keptab</h3>
                <p><span class="underline">Kept tabs</span> as tabs group and read them later. Availabel for Chrome, Edge, Firefox and Safari browsers.</p>
            </div>
            <div class="col">
                <h3>About</h3>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Apps</h3>
                <ul>
                    <li><a href="/apps#/chrome">Chrome</a></li>
                    <li><a href="/apps#/edge">Microsoft Edge</a></li>
                    <li><a href="/apps#/firefox">Mozilla Firefox</a></li>
                    <li><a href="/apps#/safari">Safari</a></li>
                    <li><a href="/apps#/opera">Opera</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Network</h3>
                <ul>
                    <li><a target="_blank" href="https://twitter.com/keptabapp">Twitter</a></li>
                    <!-- <li><a target="_blank" href="https://www.facebook.com/keptab">Facebook</a></li>
                    <li><a target="_blank" href="https://www.reddit.com/r/keptab">Reddit</a></li> -->
                </ul>
            </div>
        </div>
    </section>
    <section class="sub-menu bg-faded">
        <div class="container">
            <div class="menu">
                <span class="rights">&copy; 2020 {{ site.title }}.</span>
                <span class="privacy"><a href="/privacy">Privacy Policy</a></span>
                <span class="terms"><a href="/terms">Terms of Use</a></span>
                <span class="cookie"><a href="/cookie-policy">Cookie Policy</a></span>
            </div>
        </div>
    </section>
</footer>