<footer id="footer" class="footer">
    <section class="main-menu">
        <div class="container">
            <div class="col">
                <h3>Keptab</h3>
                <ul>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                    <li><a href="/security">Security</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>About</h3>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Download</h3>
                <ul>
                    <li><a href="/download#/chrome">Chrome</a></li>
                    <li><a href="/download#/firefox">Firefox</a></li>
                    <li><a href="/download#/edge">Microsoft Edage</a></li>
                    <li><a href="/download#/safari">Safari</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Network</h3>
                <ul>
                    <li><a href="https://twitter.com/keptab">Twitter</a></li>
                    <li><a href="https://www.facebook.com/keptab">Facebook</a></li>
                    <li><a href="https://www.reddit.com/r/keptab">Reddit</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="sub-menu">
        <div class="container">
            <div class="menu">
                <span class="rights">&copy; 2020 {{ site.title }}.</span>
                <span class="privacy"><a href="/privacy">Privacy Policy</a></span>
                <span class="terms"><a href="/terms">Terms of Use</a></span>
                <span class="cookie"><a href="/cookie-policy">Cookie Policy</a></span>
            </div>
        </div>
    </section>
</footer>