<header id="header" class="header">
    <div class="container">
        <h1 id="brand" class="brand">
            <a href="{{ site.url }}">{{ site.title }}</a>
        </h1>
        <nav id="nav" class="nav">
            <ul class="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/download">Download</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
            <ul class="user-nav">
                <li><a href="https://id.keptab.com/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>